# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Others
*.cache
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# OS files
.DS_Store
Thumbs.db

# MkDocs build output
docs/user/site/

.claude

# Application data
src/Corsinvest.ProxmoxVE.Admin/data

# Testing docker
src/docker/data/

/src/Corsinvest.ProxmoxVE.Admin/wwwroot/css/fluent-base.css
/src/Corsinvest.ProxmoxVE.Admin/wwwroot/css/fluent-wcag.css
/src/Corsinvest.ProxmoxVE.Admin/wwwroot/css/fluent-dark-base.css
/src/Corsinvest.ProxmoxVE.Admin/wwwroot/css/fluent-dark-wcag.css
