@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AdminComponentBase

<SubscriptionGate>
<div style="height:200px"></div>
</SubscriptionGate>
